@page
@model IndexModel
@{
    ViewData["Title"] = "Introvert blog";
}

<div class="text-center">
    <h1 class="display-4">About me:</h1>
    <p>Two words about me) I'm not a creative persone) </p>
</div>
